.pricing-page {
  min-height: 100vh;
  background: #fff;
  --tiktok-color--red: #ef2950;
  --tiktok-color--blue: #2fe6e0;
  --tiktok-color--black: #000000;
  scroll-behavior: smooth;
}

.pricing-page-topInfo {
  width: min(100vw, 175rem);
  text-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
}

.pricing-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color);
}

.topInfo--innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(2rem, 2vw, 5rem);
  color: var(--color-primary);
}

.topInfo--innerContainer h1 {
  background-color: rgba(255, 255, 255, 0.8);
}

.topInfo--subtitle {
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome-message-container {
  text-align: center;
  color: #111827;
  background: #fff;
  padding: 2rem;
  text-shadow: none;
  font-size: 2.8rem;
  box-shadow: 0.5rem 0.5rem var(--color-primary);
}

.welcome-message-main {
  margin-bottom: 4rem;
}

.AuthorLink-Grad:hover,
.AuthorLink-Grad:focus,
.AuthorLink-Grad:active {
  color: var(--tiktok-color--red);
}

.pricing-cards {
  --pricing-cards-width: min(130rem, 95vw);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  width: var(--pricing-cards-width);
  margin: 0 auto;
  transform: translateY(-15rem);
  --pricingCard-title-fontsize: 3.5rem;
  --pricingCard-best-deal-fontsize: 1.5rem;
  --pricingCard-pricing-fontsize: clamp(3.2rem, 2.5vw, 6rem);
  --pricingCard-details-item-fontsize: 2rem;
  --pricingCard-button-fontsize: 1.6rem;
  --pricingCard-buttonLarge-fontsize: 2rem;
  --pricingCard-body-padding: 4rem;
  --pricingCard-large-borderSize: 0.4rem;

  --pricingCard-details-item-marginbottom: 1rem;
}

.pricing-card {
  display: flex;
  flex-flow: column wrap;
  background-color: #fff;
  box-shadow: 0 0px 1rem rgba(0, 0, 0, 0.5);

  --card-border-radius: 1.2rem;
  border-radius: var(--card-border-radius);
}

.pricing-card.pricing-card--large {
  z-index: 80;
  border: var(--pricingCard-large-borderSize) solid var(--color-primary);
  position: relative;
}

@media (min-width: 72.5em) {
  .pricing-card.pricing-card--large {
    transform: translateY(-5rem);
  }
}

.pricing-card.pricing-card--large::before {
  content: "Best Deal";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-primary);
  color: white;
  font-size: var(--pricingCard-best-deal-fontsize);
  padding: 0.7rem 1.6rem;
  border-radius: 1rem;
}

.pricing-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111827;
  padding: 4.8rem 2.4rem 4rem;
}

.pricing-card_title {
  font-size: var(--pricingCard-title-fontsize);
  font-weight: 500;
}

.pricing-card_title--premium {
  background-color: #b1bfd8;
  background-image: linear-gradient(250deg, #b1bfd8 0%, #6782b4 50%);
  background-image: -webkit-linear-gradient(250deg, #b1bfd8 0%, #6782b4 50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.pricing-card_title--gold {
  background-image: linear-gradient(
    266deg,
    #bf953f,
    #f0e890,
    #b38728,
    #dbd58b,
    #aa771c
  );
  background-image: -webkit-linear-gradient(
    266deg,
    #bf953f,
    #f0e890,
    #b38728,
    #dbd58b,
    #aa771c
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.pricing-card_price {
  font-size: var(--pricingCard-pricing-fontsize);
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.pricing-card_price-hours {
  font-size: clamp(1.8rem, 2vw, 2rem);
  color: #9ca3af;
  margin-left: 1rem;
}

.pricing-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  background-color: var(--text-white-1);
  border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
  color: #6b7280;
  padding: var(--pricingCard-body-padding, 4rem);
}

.pricing-card-details_item {
  font-size: var(--pricingCard-details-item-fontsize);
  line-height: 1.6;
  margin-bottom: var(--pricingCard-details-item-marginbottom);
}

.pricing-card-details_item strong {
  color: var(--tiktok-color--black);
}

#link-link[href="#pricing-information"],
#link-link[href="#pricing-information"]:visited {
  display: block;
  font-size: var(--pricingCard-details-item-fontsize);
  margin-bottom: 2rem;
  color: var(--color-primary);
}

#link-link[href="#pricing-information"]:hover {
  color: var(--tiktok-color--red);
}

#tiktok-link {
  color: var(--tiktok-color--red);
  font-weight: 500;
  transition: 300ms;
}

#tiktok-link:hover,
#tiktok-link:focus {
  text-decoration: 2px underline black;
}

.pricing-card-details_item::before {
  content: url("/check-solid.svg");
  margin-right: 1.5rem;
}

.pricing-card-button {
  background-color: #fff;
  color: #06b6d4;
  font-size: var(--pricingCard-button-fontsize);
  font-weight: 500;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1.6rem 2.4rem;
  text-align: center;

  transition: all 0.2s ease;
}

.pricing-card-button:hover,
.pricing-card-button:focus,
.pricing-card-button:active {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.pricing-card-button.pricing-card-button--large {
  background-color: rgb(31, 41, 55);
  color: #fff;
  font-size: var(--pricingCard-buttonLarge-fontsize);
}

.pricing-card-button.pricing-card-button--large:hover,
.pricing-card-button.pricing-card-button--large:focus,
.pricing-card-button.pricing-card-button--large:active {
  background-color: #374151;
}

.times-svg {
  --size: 4rem;
  height: var(--size);
  width: var(--size);
}

.GraduationImages-Grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(17, 5vw);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.Grid-Title {
  display: grid;
  place-items: center;
  grid-area: 1 / 1 / 3 / 5;
  font-size: 6rem;
  color: #111827;
}

.image1 {
  grid-area: 1 / 5 / 6 / 9;
}

.image2 {
  grid-area: 3 / 1 / 11 / 5;
}

.image3 {
  grid-area: 6 / 5 / 10 / 7;
}

.image4 {
  grid-area: 6 / 7 / 10 / 9;
}

.image5 {
  grid-area: 11 / 1 / 15 / 3;
}

.image6 {
  grid-area: 10 / 5 / 14 / 9;
}

.image7 {
  grid-area: 11 / 3 / 14 / 5;
}

.image8 {
  grid-area: 14 / 4 / 18 / 9;
}

.image9 {
  grid-area: 15 / 1 / 18 / 4;
}

.gatsby-image-wrapper.top img {
  object-position: top;
}

.gatsby-image-wrapper.six-percent img {
  object-position: 6.25%;
}

.gatsby-image-wrapper.half-quarter img {
  object-position: 12.5%;
}
.gatsby-image-wrapper.quarter img {
  object-position: 25%;
}

.gatsby-image-wrapper.image8 {
  box-shadow: -0.2rem -0.2rem 1rem rgba(0, 0, 0, 0.2);
}
.gatsby-image-wrapper.image8 img {
  object-position: 8%;
}

.PricingInfo-Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-black-2);
  width: min(95vw, 120rem);
  margin: 10rem auto 0;
  padding-bottom: 10rem;
}

.PricingInfo-Details p {
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0;
}

.PricingInfo-Details p strong,
.PricingInfo-Details p a,
.PricingInfo-Details p strong a {
  color: var(--color-primary);
}

.PricingInfo-Details p a:hover {
  color: var(--tiktok-color--red);
}

.PricingInfo-Details h2 {
  color: #1e293b;
  font-size: 4rem;
  margin-bottom: 5rem;
}

.PricingInfo-Details .pricing-card-button {
  font-size: 3rem;
  background: var(--color-primary);
  color: var(--text-white-1);
}

.Package-Card {
  align-self: stretch;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  padding: 1rem 2rem;
}

.Package-Card.Premium h3 {
  background-color: #b1bfd8;
  background-image: linear-gradient(250deg, #b1bfd8 0%, #6782b4 50%);
  background-image: -webkit-linear-gradient(250deg, #b1bfd8 0%, #6782b4 50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.Package-Card.Gold h3 {
  background-image: linear-gradient(
    266deg,
    #bf953f,
    #f0e890,
    #b38728,
    #dbd58b,
    #aa771c
  );
  background-image: -webkit-linear-gradient(
    266deg,
    #bf953f,
    #f0e890,
    #b38728,
    #dbd58b,
    #aa771c
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.Package-Card h3 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.Package-Card ul {
  font-size: 2.5rem;
}

.Package-Card li {
  margin-bottom: 5rem;
  line-height: 1.6;
}

.Package-Card strong {
  color: var(--color-primary);
}

@media (max-width: 72.5em) {
  .Grid-Title {
    font-size: 5rem;
  }
  .topInfo--innerContainer {
    text-align: center;
  }
  .GraduationImages-Grid {
    transform: translateY(0);
  }

  .pricing-page-topInfo {
    height: 50vh;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
  }
  .topInfo--subtitle {
    font-size: 2.4rem;
  }

  .pricing-cards {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    transform: translateY(-5rem);

    --pricing-cards-width: 87.5vw;
    --pricingCard-title-fontsize: 4.8rem;
    --pricingCard-best-deal-fontsize: 2.5rem;
    --pricingCard-pricing-fontsize: 4.2rem;
    --pricingCard-details-item-fontsize: 2rem;
    --pricingCard-button-fontsize: 2rem;
    --pricingCard-buttonLarge-fontsize: 2.5rem;

    --pricingCard-large-borderSize: 0.8rem;
    --pricingCard-details-item-marginbottom: 2rem;
    --pricingCard-body-padding: 1.5rem;
  }
  .pricing-card {
    margin-bottom: 5rem;
  }

  .pricing-card-header {
    padding: 2.5rem 1.2rem 3rem;
  }

  .pricing-card-button {
    margin-top: 2.3rem;
  }

  li.Package-Item {
    margin-bottom: 10rem;
  }
}

@media (max-width: 26em) {
  .Grid-Title {
    font-size: 3rem;
  }
  .topInfo--subtitle {
    font-size: 2rem;
  }
  .welcome-message-container {
    font-size: 2.4rem;
  }
}
